$color-white: #FFF;
$color-black: black;
// $color-red: #ff4040;
$color-red: #C9282D;
$color-green: #3d7708;
$color-yellow: #dfd227;
$color-light-green: #5ba813;
$color-grey: #c9c9c9;
$color-light-grey: #f5f5f5;
$color-dark-grey: #2e2828;
$box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px,
rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
$main-font: "Gilroy",
sans-serif;