$color-white: #FFF;
$color-black: black;
$color-blue: #343A40;
$color-orange: #F59531;
$color-light-orange: #FCDFC1;
$color-light-grey: #C4C4C4;
$color-dark-grey: #2e2828;
$box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px,
rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
$main-font: 'Poppins', sans-serif;