body {
  font-family: $main-font;
}

.nav-link {
  font-weight: 700;
}

.heading {
  color: $color-blue;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 2rem;

  &--primary {
    font-size: 4.3rem;
    line-height: 5rem;
    margin-bottom: 1.5rem;

    @include respond(large) {
      font-size: 2.7rem;
      line-height: 3rem;
    }
  }

  &--secondary {
    font-size: 3rem;
    line-height: 4rem;

    @include respond(medium) {
      font-size: 2rem;
    }

    @include respond(small) {
      line-height: 2.6rem;
    }
  }




  &.white {
    color: $color-white;
  }
}

a {
  font-size: 1.6rem;
  font-weight: 600; // letter-spacing: 0.08rem;
  padding: 1.3rem 1.2rem;

  &:hover {
    text-decoration: none;
    color: darken($color-orange, 20%);
  }
}

.small {
  font-size: 1.4rem;
  line-height: 2.3rem;
}

.paragraph {
  font-size: 1.6rem;
  line-height: 2.8rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }



  @include respond(large) {
    font-size: 1.5rem !important;
    line-height: 2.3rem;
  }

  @include respond(small) {
    font-size: 1.6rem !important;
  }
}

@include respond(small) {
  .testimonial {
    p {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.text-orange {
  color: $color-orange;
}