.btn {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    padding: 1.3rem 3.7rem;
    text-transform: uppercase;
    transition: all 500ms ease;

    &--primary {
        background-color: $color-orange;
        color: $color-white !important;

        &:hover {
            background-color: darken($color-orange, 20%);
            box-shadow: 0 4px 5px 0 rgba(114, 25, 25, 0.2), 0 6px 20px 0 rgba(192, 12, 12, 0.19);
        }
    }

    &--secondary {
        background-color: $color-blue;
        color: $color-white !important;

        &:hover {
            background-color: $color-blue;
            box-shadow: 0 4px 5px 0 rgba(14, 125, 25, 0.1), 0 6px 20px 0 rgba(14, 125, 25, 0.2);
        }
    }

    &:not(:last-of-type) {
        margin-right: 1rem;
    }

    @include respond(large) {
        padding: 1.3rem 2.2rem;
        font-size: 1.1rem;
    }
}